{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>home</title>
    <style>
        .task_c{
            border: none;
            
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="d-felx mt-5">
            <div class="col-sm-12 alert alert-info">
                <h1 class="text-center fw-bolder">employe task</h1>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="col-sm-6  ">
                <form action=""  class="form" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="emid" id="empid">
                    <div class="form-floating  text-centers mb-3">
                        <input type="text" class="form-control" id="username" name="username" placeholder="Employe name">
                        <label for="floatingInput">Employe_name </label>
                    </div>

                    <div class="form-floating  text-centers mb-3">
                        <input type="text" class="form-control" id="task" name="task" placeholder="Task">
                        <label for="floatingInput">Task </label>
                    </div>
                    <div class=" text-center mt-5">
                        <input type="submit" class="btn btn-success" name="" id="savebtn">

                    </div>

                </form>
            </div>

        </div>
        <div class="d-flex">
            <div class="col-sm-12">
                <table class="table"  id="mytable" >
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>E_name</th>
                            <th>Task</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="tbody" >
                        {% for i in user %}
                        <tr>
                            <td id="{{i.id}}"></td>
                            <td >{{i.employe_name}}</td>
                            <td ><input type="text" value="{{i.task}}" id="{{i.id}}" class="task_c"></td>
                            <td>
                                <input type="button" class="btn btn-warning btn-sm btn-edit" data-eid={{i.id}} value="edit">
                                <input type="button" class="btn btn-danger btn-sm btn-delete" data-eid={{i.id}} value="delete">
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>


                </table>
            </div>
        </div>

    </div>
    <script src="{% static 'js/todo.js' %}">

    </script>
</body>

</html>